[Unit]
Description=MeshCore2Net
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
StandardOutput=journal
Environment=NODE_VERSION=node
ExecStart=/root/.nvm/nvm-exec /root/bridge.js
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
